<form class="{{cssClass}} flexcol" autocomplete="off">
  
  {{!-- NPC Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
    
    <div class="header-details flexcol">
      <div class="header-top flexrow">
        <h1 class="charname">
          <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "PF1.CharacterName"}}"/>
        </h1>
        
        <div class="charlevel">
          <div class="level">
            <label>CR</label>
            <input name="data.details.cr" type="text" value="{{labels.cr}}" placeholder="1"/>
          </div>
          <div class="experience">
            <span>{{data.details.xp.value}} XP</span>
          </div>
        </div>
      </div>
      
      {{!-- Attributes --}}
      <ul class="attributes flexrow">
        <li class="attribute health tooltip">
          <div class="tooltipcontent">
            @attributes.hp.value : {{data.attributes.hp.value}}<br/>
            @attributes.hp.max : {{data.attributes.hp.max}}<br/>
            @attributes.hp.temp : {{data.attributes.hp.temp}}<br/>
            @attributes.hp.nonlethal : {{data.attributes.hp.nonlethal}}
            
            {{#if sourceDetails.data.attributes.hp.max.length}}
            <br/><br/>From sources:<br/>
            {{#each sourceDetails.data.attributes.hp.max as |src|}}
            {{src.name}}: {{src.value}}<br/>
            {{/each}}
            {{/if}}
          </div>
          <h4 class="attribute-name box-title">{{ localize "PF1.Health" }}</h4>
          <div class="attribute-value multiple">
            <input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}"
            data-dtype="Number" placeholder="10"/>
            <span class="sep"> / </span>
            <div class="attribute">{{data.attributes.hp.max}}</div>
          </div>
          <footer class="attribute-footer">
            <input name="data.attributes.hp.temp" type="text" class="temphp" placeholder="+{{localize "PF1.TempShort"}}"
            value="{{#if data.attributes.hp.temp}}{{data.attributes.hp.temp}}{{/if}}" data-dtype="Number"/>
            <input name="data.attributes.hp.nonlethal" type="text" class="temphp" placeholder="{{localize "PF1.Nonlethal"}}"
            value="{{#if data.attributes.hp.nonlethal}}{{data.attributes.hp.nonlethal}}{{/if}}" data-dtype="Number"/>
            <input name="data.attributes.hp.base" type="text" value="{{#if data.attributes.hp.base}}{{data.attributes.hp.base}}{{/if}}"
                                                              data-dtype="Number" placeholder="{{localize "PF1.Base"}}"/>
          </footer>
        </li>
      </ul>
    </div>
  </header>
  
  <section class="primary-body">
  </section>
  
</form>
