<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Item Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

    <div class="header-details flexrow">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "PF1.ItemName"}}"/>
      </h1>

      <div class="item-subtitle">
        <h4 class="item-type">{{itemType}}</h4>
        <span class="item-status">{{itemStatus}}</span>
      </div>

      <ul class="summary">
        <li>
          {{lookup config.consumableTypes data.consumableType }}
        </li>
        <li>
          <input type="text" name="data.source" value="{{data.source}}" placeholder="{{localize "PF1.Source"}}"/>
        </li>
      </ul>
    </div>
  </header>

  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="description">{{ localize "PF1.Description" }}</a>
    <a class="item" data-tab="details">{{ localize "PF1.Details" }}</a>
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="primary-body">

    {{!-- Description Tab --}}
    {{> "systems/pf1/templates/items/parts/item-description.html"}}

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      <h3 class="form-header">{{localize "PF1.Details"}}</h3>

      {{!-- Consumable Type --}}
      <div class="form-group">
        <label>{{localize "PF1.Type"}}</label>
        <select name="data.consumableType">
          {{#select data.consumableType}}
          {{#each config.consumableTypes as |name type|}}
          <option value="{{type}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      <h3 class="form-header">{{localize "PF1.ConsumableUsage"}}</h3>

      {{!-- Item Activation Template --}}
      {{> "systems/pf1/templates/items/parts/item-activation.html"}}

      <h3 class="form-header">{{localize "PF1.Action"}}</h3>

      {{!-- Item Action Template --}}
      {{> "systems/pf1/templates/items/parts/item-action.html"}}

      <h3 class="form-header">{{localize "PF1.MeasureTemplate"}}</h3>

      {{!-- Item Measure Template --}}
      {{> "systems/pf1/templates/items/parts/item-template.html"}}
    </div>
  </section>
</form>
